@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-base: #1f2937;
        --color-light: #4b5563; 
        --color-muted: #9ca3af; 
        --color-inverted: #ffffff;
        --color-assets: #22c55e; 
        --color-liabilities: #0ea5e9;
        --color-brand: #0ea5e9;
        --color-brand-hover: #0284c7; 
        --color-brand-light: #e0f2fe;
        --color-brand-light-hover: #bae6fd; 
        --color-brand-button-border: #7dd3fc; 
        --color-secondary-button-border: #d1d5db; 
        --color-secondary: #f9fafb; 
        --color-secondary-hover: #f3f4f6; 
    }

    .theme-nuthatch {
        /* dark */
        --color-base: #1f2937; 

        /* lighter, still dark */
        --color-light: #4b5563; 

        /* lighter still */
        --color-muted: #9ca3af; 

        /* white */
        --color-inverted: #ffffff;

        --color-assets: #22c55e; 
        --color-liabilities: #0ea5e9;
        
        --color-brand: #94a3b8;
        --color-brand-hover: #64748b; 
        --color-brand-light: #f1f5f9;
        --color-brand-light-hover: #e2e8f0; 
        --color-brand-button-border: #cbd5e1; 

        --color-secondary-button-border: #d1d5db; 
        --color-secondary: #f9fafb; 
        --color-secondary-hover: #f3f4f6; 
    }
}