@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-base: #1f2937;
        --color-light: #4b5563;  
        --color-muted: #9ca3af; 
        --color-inverted: #ffffff;

        --color-assets: #22c55e; 
        --color-assets-muted: #86efac; 
        --color-assets-light: #f0fdf4;

        --color-liabilities: #71717a;
        --color-liabliites-muted: #d4d4d8; 
        --color-liabilities-light: #f4f4f5;

        --color-brand: #0ea5e9;
        --color-brand-hover: #0284c7; 
        --color-brand-light: #f0f9ff;
        --color-brand-light-hover: #e0f2fe; 
        --color-brand-button-border: #7dd3fc; 
        
        --color-secondary-button-border: #d1d5db; 
        --color-secondary: #f3f4f6; 
        --color-secondary-hover: #e5e7eb;  
    }

    .theme-nuthatch {
        --color-base: #1f2937;
        --color-light: #4b5563; 
        --color-muted: #9ca3af; 
        --color-inverted: #ffffff;
        --color-assets: #78716c; 
        --color-assets-muted: #d6d3d1; 
        --color-assets-light: #f5f5f4;
        --color-liabilities: #64748b;
        --color-liabliites-muted: #cbd5e1; 
        --color-liabilities-light: #f1f5f9;
        --color-brand: #8b5cf6;
        --color-brand-hover: #7c3aed; 
        --color-brand-light: #ede9fe;
        --color-brand-light-hover: #ddd6fe; 
        --color-brand-button-border: #c4b5fd; 
        --color-secondary-button-border: #d1d5db; 
        --color-secondary: #f9fafb; 
        --color-secondary-hover: #f3f4f6;  
    }
}